<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.DisplayProduct.Name</title>
</head>
<body>
    <h1>@ViewBag.DisplayProduct.Name</h1>
    <h3>Categories</h3>
    @foreach (Association c in @ViewBag.ProductWithCategories.ProductCategories)
    {
        <p>@c.Category.CategoryName</p>
    }

  <form method="post" action="/addproductcategory/@ViewBag.DisplayProduct.ProductId">
       <select name="CategoryId" class="form-control">
            @foreach(Category c in ViewBag.AllCategories)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select>
        <input type="Submit" value="Add Category to Product"/>
   </form>
</body>
</html>